{% extends "postorius/base.html" %}
{% load i18n %}

{% block head_title %}
{% trans 'Global Bans' %} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans "Global Bans" %}</h1>
</div>

{% url 'global_bans' as formurl %}
{% include 'postorius/fragments/bans.html' with formurl=formurl %}

{% endblock content %}
